@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

body {
    font-family: rubik;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @apply text-white text-center
}

.btn-brand {
    @apply text-white uppercase bg-transparent shadow-none
}

.btn-hover {
    @apply hover:text-[#F6F0F0] hover:bg-[#DE6D2E] ease-in-out transition duration-500
}

.nav-active {
    @apply text-[#DE6D2E] ease-in-out transition duration-1000
}