@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

body {
    font-family: rubik;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #FEFAE0;
}

.tab-active {
    @apply ease-in-out transition duration-300 text-primary [--tab-bg:#B9B28A] [--tab-border-color:#EBE5C2]
}