@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

body {
    font-family: rubik;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #fff
}

.btn-brand {
    @apply text-[#C84B31] uppercase
}

.btn-hover {
    @apply hover:text-[#F6F0F0] hover:bg-[#C84B31] ease-in-out transition duration-300
}

.tab-active {
    @apply ease-in-out transition duration-300 [--tab-bg:#de6d2e] text-[#F6F0F0]
}